table{

    width: 600px;
    height: 600px;
    border: solid red 1px;
    border-collapse: collapse;
    margin-top: 100px;
    margin-left: 300px;
    background-color: red;
    text-align: center;
    font-size: 40px;
}
#blackBox{
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    border-radius: 20px;
}

#whiteBox{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 20px;
}

#cheseboard{

    width: 400px;
    height: 400px;
    border: solid red 1px;
    border-collapse: collapse;
}

.blackBox{
    width: 50px;
    height: 50px;
    background-color: azure;
    float: left;
}

.whiteBox{
    width: 50px;
    height: 50px;
    background-color: white;
    float: left;
}

.main_div {
    border: solid 1px;
    width: 560px;
    height: 640px;
    background-color: aqua;
    margin-top: 100px;
    margin-left: 200px;

}

.child_div {
    background-color: black;
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 40%;
}

.child_div2 {
    background-color: burlywood;
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 40%;
}
